*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(images/Jelwery\ Store.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    width: 100vw;
}
.site-header img{
    width: 100px;
    height: 50px;
    background-color: transparent;
}
.hero nav{
    padding-top: 5px;  
    display: flex;
}
.hero nav ul{
    list-style: none;
    display: flex;
    margin-left: 9cm;
    gap: 30px;
    font-size: 10px;
    align-items: center;
    color: rgba(255, 255, 255, 0.749);
    opacity: 0.9;
    font-family:serif;
    cursor: pointer;
}
.hero nav ul li:hover{
    color: white;
    transition: 0.3s;
}
nav .diamond{
    margin-left: 9cm;
    font-size: 15px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}